<html>
    <body>
        <form>
        events : <button formaction="http://127.0.0.1:5000/events"> Go to events </button>
        </form>
    <h2><a href = "http://127.0.0.1:5000/events"> events </a></h2>
    <h2><a href = "http://127.0.0.1:5000/stories"> stories </a></h2>
    <h2><a href = "http://127.0.0.1:5000/topics"> topics </a></h2>
    <h1>WELCOME TO DEPLOYMENT CLASS</h1>
        <form method="post" action="/submit">
            <input type="number" name ='preg' placeholder="preg">
            <input type="number" name ='plas' placeholder="plas">
            <input type="number" name ='pres' placeholder="pres">
            <input type="number" name ='skin' placeholder="skin">
            <input type="number" name ='test' placeholder="test">
            <input type="number" name ='masss' placeholder="masss">
            <input type="number" name ='pedi' placeholder="pedi">
            <input type="number" name ='age' placeholder="age">
            <button type="submit"> SUBMIT </button>
        </form>
    </body>
</html>